@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.content-container {
  display: flex;
  gap: 2px;
}

.content-container input {
  width: 100%;
  padding: 8px;
}

.content-container button {
  width: 120px;
  background-color: blue;
  color: white;
  outline-style: none;
  border-style: none;
  cursor: pointer;
}
.content-container button:hover {
  background-color: #000096;
}

table {
  border-collapse: collapse;
}
thead {
  background-color: black;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 10px 50px;
}

.tableBtn {
  display: flex;
  gap: 10px;
}

.tableBtn button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.doneBtn {
  background-color: #9ee0ff;
}

.delete {
  background-color: red;
  color: white;
}

/* set the style when task is marked done */
.markedDone {
  text-decoration: line-through;
}

.statusDone {
  color: #0cd405;
}